/* styles/home.css */
/* background: radial-gradient(circle, #10683c, #0d7893, #007f00, #014e59, #028a26, #05609c, #067006);*/


.space-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 500vh;
  height: 500vh;
  background: radial-gradient(circle, #10683c, #0d7893, #1c7656, #02181c, #026024, #05609c, #067006); 
  z-index: -1;
  background-size: 300% 300%; /* Increase background size for animation */
  animation: gradientAnimation 30s linear infinite; /* Adjust animation duration */
  overflow: hidden; /* Ensure the background doesn't overflow */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1)); /* Semi-transparent white gradient */
  opacity: 0.6; /* Adjust opacity as desired */
  animation: shimmerAnimation 3s linear infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes shimmerAnimation {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

#homePage {
  position: relative;
  z-index: 1;
}

.header {
  position: relative;
  z-index: 2; /* Ensure the header is above the overlay */
}

@media (max-width: 480px) {
  .space-background {
    width: 2500vh;
    height: 2500vh;
    padding: 0.3125rem; /* Further reduce padding for very small screens */
  }

  header h1 {
    font-size: 1.25rem; /* Further adjust font size for very small screens */
  }

  nav a {
    font-size: 0.875rem; /* Further adjust font size for very small screens */
    margin: 0 0.3125rem; /* Further adjust margin for very small screens */
  }

  .user-profile-pic {
    width: 1.5rem; /* Further adjust size for very small screens */
    height: 1.5rem;
  }

  .sign-out-button {
    padding: 0.25rem 0.5rem; /* Further adjust padding for very small screens */
  }
}
