/* src/styles/home.css */



/* Footer styles */
footer {
  background-color: #343a40; /* Dark grey background */
  color: #ffffff; /* White text */
  padding: 20px;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
}

footer p {
  margin: 0;
  font-size: 1em;
}

footer a {
  color: #007bff; /* Bootstrap blue */
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.3s;
}

footer a:hover {
  color: #0056b3; /* Darker blue on hover */
}

/* Banner slides styles */
.banner-slide-1 {
  background-image: url('../images/bannerbg.jpg'); /* Adjust the path as needed */
}

.banner-slide-2 {
  background-image: url('../images/bannerbg2.jpg'); /* Adjust the path as needed */
}

.banner-slide-3 {
  background-image: url('../images/bannerbg3.jpg'); /* Adjust the path as needed */
}

.banner-slide {
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  padding: 20px;
}

@media (max-width: 768px) {
  .banner-slide {
    height: 200px;
  }
}

@media (max-width: 480px) {
  .banner-slide {
    height: 150px;
  }
}

.banner-content {
  background-color: rgba(0, 0, 0, 0.5);  /* Optional: to make text stand out */
  padding: 20px;
  border-radius: 10px;
}