/* src/styles/preloader.css */
body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
  }
  
  #preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #03c282; /* Change to your preferred background color */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  #logo {
    width: 150px; /* Adjust size as needed */
    height: auto;
    background-image: url('../images/brandslogo/amlogo.jpg'); /* Path to your logo */
    background-size: contain;
    background-repeat: no-repeat;
    animation: logo-animation 2s ease-in-out forwards;
  }
  
  #website-name {
    color: #fff; /* Change to your preferred color */
    font-size: 2em;
    margin-top: 20px;
    opacity: 0;
    animation: text-animation 1s ease-in-out forwards 2s;
  }
  
  @keyframes logo-animation {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  @keyframes text-animation {
    0% {
      transform: translateY(20px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  