@font-face {
  font-family: 'BenguiatBoldTypewriter';
  src: url('../fonts/Albertsthal-Typewriter.ttf') format('truetype');
}

body, html {
  margin: 0;
  padding: 0;
  overflow: auto; 
  height: 100%;
  width: 100%;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #03c282; /* Change to your preferred background color */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#website-name {
  color: #fff; /* Change to your preferred color */
  font-size: 2rem; /* Use rem units */
  font-family: 'BenguiatBoldTypewriter', sans-serif; /* Apply the Typewriter font */
  opacity: 0;
  animation: text-animation 1s ease-in-out forwards 0.5s, blur-clear 2s ease-in-out forwards 2s;
  display: flex;
  flex-wrap: nowrap; /* Ensure letters stay on the same line */
  filter: blur(2px); /* Apply initial blur effect */
  text-shadow: 0.0625rem 0.0625rem 0.125rem rgba(0, 0, 0, 0.5); /* Apply shadow for vintage effect */
}

/* Keyframes for the text animation */
@keyframes text-animation {
  0% {
    opacity: 0;
    transform: translateY(-3.125rem) translateZ(-37.5rem); /* Move text towards the screen */
    filter: blur(0.3125rem); /* Start with more blur */
  }
  100% {
    opacity: 1;
    transform: translateY(0) translateZ(0); /* Bring text back to its original position */
    filter: blur(0.125rem); /* Reduce blur to final state */
  }
}

/* Keyframes for clearing the blur */
@keyframes blur-clear {
  0% {
    filter: blur(0.125rem); /* Initial blur */
  }
  100% {
    filter: blur(0); /* Clear blur */
  }
}

/* Keyframes for animating the 'V' in 'VIBES' */
@keyframes vibes-v-animation {
  0% {
    transform: translateY(0) rotate(0) scale(1);
    opacity: 1;
  }
  25% {
    transform: translateY(-0.625rem) rotate(-5deg) scale(1.1);
    opacity: 1;
  }
  50% {
    transform: translateY(0) rotate(0) scale(1);
    opacity: 1;
  }
  75% {
    transform: translateY(0.625rem) rotate(5deg) scale(0.9);
    opacity: 1;
  }
  100% {
    transform: translateY(0) rotate(0) scale(1);
    opacity: 1;
  }
}

/* Apply vibes-v-animation only to the 'V' in 'VIBES' */
#website-name > span:nth-child(8) {
  animation: vibes-v-animation 1s ease-in-out forwards 3s;
}

/* Keyframes for zoom-out animation */
@keyframes zoom-out {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(50); /* Scale up so that only the 'V' is visible */
  }
}

#website-name > .zoom-target {
  animation: zoom-out 2s ease-in-out forwards 3s; /* Start zooming out after 6 seconds */
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  #website-name {
    font-size: 1.5rem; /* Adjust font size for smaller screens */
  }
}

@media (max-width: 480px) {
  #website-name {
    font-size: 1.2rem; /* Further adjust font size for extra small screens */
  }
}
